body {
	font-family:Comic Sans MS;
	background-image:url("ali-abdul-rahman-599798-unsplash.jpg");
	background-position:auto;
	background-size:cover;
	background-repeat:no-repeat; 
	}
	
hgroup {
	width:90%;
	overflow:hidden;
	margin:0px auto;
	padding-left:1em;
	color:white;
	text-align:center;
}

hgroup h1 {
    float: left;
	font-size:50px;
}

hgroup h2 {
	font-size:40px;
    float:right;
	margin-left:1em;
	padding-top:10px;
}

ul li{
	list-style-type:circle;
    column-gap: 20px;
}
a {
	color:white;
    width: 100%;
}

section {
	padding-left:1em;
	background-color: rgba(0,0,0,.3);
	color:white;
}
section h1{
	font-size:2.5em;
	color:white;
}

#Buttons{
		color:white;
		text-align:center;
		font-size:1.6em;
		margin:20px;
}
#Buttons a{
	text-decoration:none; 
}
#Buttons a:hover{
	background-color:grey;
}

#About_Me {
	overflow:hidden;
}
#ContentPanel
{
    float:none;
    margin-left:20%;
    color:yellow;  
    padding-left:10px;
}
#InfoPanel {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
}
#Skills {
	overflow:hidden;
	column-count: 2;
}
#Skills li {
	font-size:1.5em;
}
#Experience {
	overflow:hidden;
}

#Personal {
	overflow:hidden;
	padding:10px;
}

#endHR {
	border-color:black;
	border-bottom-width:3px;
}

footer{	
	margin:0px auto;
	padding:1em;
	color:white;
	text-align:center;
}
